*.pyc
__pycache__
db.sqlite3
.env
env
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule.db
logs
.vscode
.git
.json
docker/
venv/
static/